<h1><%= @user.name %>のタスク一覧</h1>

<p>メールアドレス: <%= @user.email %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title<br><br></th>
      <th>Content<br><br></th>
      <th>Period
      <br>
      <%= link_to '並替え', tasks_path(sort_period: "true") %>
      </th>
      <th>Status<br><br></th>
      <th>Priority
      <br>
      <%= link_to '並替え', tasks_path(sort_priority: "true") %>
      <br></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.period %></td>
        <td><%= task.status %></td>
        <td><%= task.priority %></td>
        <td><%= link_to 'Show', task, class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_task_path(task), class: "btn btn-success" %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>